<div class="">
    <form class="form-inline" (submit)="submitFilter()" autocomplete="off">
      <div class="input-group input-group-md mb-1">
        <div class="input-group-prepend">
          <div class="input-group-text">Criteria</div>
        </div>
        <select
          class="form-control"
          name="criteria"
          [(ngModel)]="filterCriteria"
          (change)="criteriaChange()"
        >
          <option *ngFor="let cri of criteria" [ngValue]="cri.field">
            {{ cri.label }}
          </option>
        </select>
        &nbsp;
      </div>
      <div class="input-group input-group-md mb-1">
        <div class="input-group-prepend" *ngIf="key">
          <button
            class="btn btn-outline-danger"
            type="button"
            (click)="resetFilter()"
          >
            <i class="fa fa-times"></i>
          </button>
        </div>

        <input
          *ngIf="!settings.columns[filterCriteria] || settings.columns[filterCriteria].type=='string'"
          type="text"
          class="form-control"
          placeholder="Search"
          name="key"
          [(ngModel)]="key"
        />

        <input
          *ngIf="settings.columns[filterCriteria] && settings.columns[filterCriteria].type=='date'"
          readonly
          type="text"
          name="key"
          class="form-control"
          placeholder="Search"
          ngbDatepicker
          #d="ngbDatepicker"
          (focus)="d.open()"
          [(ngModel)]="key"
          (change)="covertDate()"
        />

        <input
          *ngIf="settings.columns[filterCriteria] && settings.columns[filterCriteria].type=='datetime'"
          readonly
          type="text"
          name="key"
          class="form-control"
          placeholder="Search"
          ngbDatepicker
          #d="ngbDatepicker"
          (focus)="d.open()"
          [(ngModel)]="key"
          (change)="covertDate()"
        />

        <select
          *ngIf="settings.columns[filterCriteria] && settings.columns[filterCriteria].type=='select'"
          class="form-control"
          name="key"
          [(ngModel)]="key"
        >
          <option *ngFor="let opt of settings.columns[filterCriteria].options" [ngValue]="opt.val">{{opt.label}}</option>
        </select>
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </div>
        &nbsp;
      </div>
    </form>
  </div>
