<div class="content-header row">
  <div class="content-header-left col-md-6 col-12 mb-2">
    <h3 class="content-header-title mb-0">Menu </h3>
    <div class="row breadcrumbs-top">
      <div class="breadcrumb-wrapper col-12">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active">Manager
          </li>
        </ol>
      </div>
    </div>
  </div>
  <div class="content-header-right col-md-6 col-12">
    <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
      <div class="btn-group" role="group">
        <a class="btn btn-md btn-outline-primary" routerLink="/menu/form">Add</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-content collapse show">

        <div class="table-responsive">
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th colspan="2">Sorting</th>
                <th>Title</th>
                <th width="">Alias</th>
                <th width="">Path</th>
                <th width="">Icon</th>
                <th width="150">Tools</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let menu of menus; let idx = index" [hidden]="!displayTree[menu.parent]">
                <td class="text-right td-sm-pd" width="20">{{menu.sorting}}</td>
                <td class="td-sm-pd" width="120">
                  <a href="javascript:;" class="btn btn-sm btn-outline-primary" (click)="setSort(idx, 'up')"><i
                      class="fa fa-caret-up"></i></a>&nbsp;
                  <a href="javascript:;" class="btn btn-sm btn-outline-primary" (click)="setSort(idx, 'down')"><i
                      class="fa fa-caret-down"></i></a>&nbsp;
                  <a href="javascript:;" class="btn btn-sm" (click)="toggleTree(menu)" *ngIf="menu.childMenuLength"
                    [ngClass]="{'btn-outline-primary': displayTree[menu.id],'btn-primary': !displayTree[menu.id]}">
                    <i class="fa" [ngClass]="{
                      'fa-minus': menu.childMenuLength && displayTree[menu.id],
                      'fa-plus': menu.childMenuLength && !displayTree[menu.id]}"></i>
                  </a>&nbsp;
                </td>
                <td>
                  <span class="menu-tree-level-{{menu.level}}">
                    {{menu.title}}</span>
                </td>
                <td>{{menu.alias}}</td>
                <td>{{menu.path}}</td>
                <td><i class="fa {{menu.icon}}"></i> {{menu.icon}}</td>
                <td>
                  <a class="btn btn-sm btn-info" routerLink="/menu/form/{{menu.id}}"><i
                      class="fa fa-edit"></i></a>&nbsp;
                  <a class="btn btn-sm btn-danger" (click)="removeData(menu)" href="javascript:;"><i
                      class="fa fa-trash"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>