<div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item" *ngFor="let item of navItems">
        <a class="nav-link" [routerLink]="[item.link]" routerLinkActive="active">
          <span data-feather="item.title"></span>
          {{ item.title }}
        </a>
      </li>
    </ul>
  </div>
