<!-- Modal -->
<div class="modal-content">
  <div class="modal-header bg-danger white">
    <h4 class="modal-title" id="myModalLabel8">ERROR CODE: {{data.status}}</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal('Close Modal')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{data.reason}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal" (click)="closeModal('Close Modal')">Close</button>
  </div>
</div>
