<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title mb-0">User Group </h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">{{title}}
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <app-form *ngIf="userLoaded" [source]="user" class="col-md-12" [settings]="settings" (fncSubmit)="onSubmit($event)"></app-form>
                </div>
            </div>
        </div>
    </div>
</div>