<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <label for="basicTextarea" class="card-title">Form Config</label>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div class="row">
            <app-form *ngIf="dataLoaded" [source]="config" class="col-md-12" [settings]="settings" (fncSubmit)="onSubmit($event)"></app-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>