<div class="content-header row">
  <div class="content-header-left col-md-6 col-12 mb-2">
    <h3 class="content-header-title mb-0">Change</h3>
    <div class="row breadcrumbs-top">
      <div class="breadcrumb-wrapper col-12">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active">Password</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-content collapse show">
        <div class="card-body">
          <form
            method="POST"
            class="form form-horizontal"
            #changePassForm="ngForm"
            (submit)="onSubmit()"
          >
            <div class="form-body">
              <h4 class="form-section">
                Use this form to change your password
              </h4>
              <div class="form-group row">
                <label class="col-md-3 label-control">Old Password</label>
                <div class="col-md-6">
                  <input
                    [(ngModel)]="f.oldPassword"
                    type="password"
                    class="form-control"
                    placeholder="Old Password"
                    name="oldPassword"
                    required
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control">New Password</label>
                <div class="col-md-6">
                  <input
                    [(ngModel)]="f.newPassword"
                    type="password"
                    class="form-control"
                    placeholder="New Password"
                    name="newPassword"
                    required
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control">
                  Confirm New Password
                </label>
                <div class="col-md-6">
                  <input
                    [(ngModel)]="f.confirmNewPassword"
                    type="password"
                    class="form-control"
                    placeholder="Confirm New Password"
                    name="confirmNewPassword"
                    required
                  />
                  <div class="help-block">
                    <p
                      class="text-danger"
                      *ngIf="
                        f.newPassword &&
                        f.confirmNewPassword &&
                        f.newPassword != f.confirmNewPassword
                      "
                    >
                      New password and confirm new password doesn't match
                    </p>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                  <a class="btn btn-danger mr-1" [routerLink]="['/dashboard/']">
                    Cancel
                  </a>
                  <button
                    [disabled]="
                      changePassForm.invalid ||
                      f.newPassword != f.confirmNewPassword ||
                      submitting
                    "
                    type="submit"
                    class="btn btn-primary"
                  >
                    Change
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
