<div class="table-responsive">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th width="50">#</th>
        <th
          *ngFor="let col of objectKeys(columns)"
          width="{{ columns[col].width }}"
        >
          <div *ngIf="!columns[col].sort">{{ columns[col].title }}</div>
          <div *ngIf="columns[col].sort">
            <a
              class="sort"
              href="javascript:void(0);"
              (click)="tableSvc.setSort(col)"
            >
              {{ columns[col].title }}
              <i
                class="fa"
                [ngClass]="{
                  'fa-caret-up':
                    tableSvc.sortBy === col && tableSvc.sortOrder === 'asc',
                  'fa-caret-down':
                    tableSvc.sortBy === col && tableSvc.sortOrder === 'desc',
                  'fa-sort': tableSvc.sortBy !== col
                }"
              ></i>
            </a>
          </div>
        </th>
        <th width="150">
          Tools
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="tableSvc.loading">
        <td colspan="100%" align="center">
          <span class="text-primary">
            <i class="fas fa-circle-notch fa-spin fa-4x"></i>
            <br />Loading...
          </span>
        </td>
      </tr>
      <tr *ngIf="!tableSvc.loading && !tableSvc.datas.length">
        <td colspan="100%" align="center">
          <span class="text-danger">
            <span *ngIf="!tableSvc.errorMessage">
              <i class="fas fa-folder-open fa-4x"></i>
              <br />No record data
            </span>
            <span *ngIf="tableSvc.errorMessage">
              <i class="fas fa-times fa-4x"></i>
              <br />{{ tableSvc.errorMessage }}
            </span>
          </span>
        </td>
      </tr>
      <tr *ngFor="let item of display; let i = index">
        <td>{{(i+1) + ((tableSvc.page-1) * tableSvc.limit)}}</td>
        <td *ngFor="let col of objectKeys(columns)">
          <span [innerHTML]="item[col]" *ngIf="item[col] !== undefined && item[col].length <= 70"></span>
          <span *ngIf="item[col] !== undefined && item[col].length > 70">
            {{ item[col].toString().substring(0, 50) }} ...
            <a (click)="readDesc(item[col], content, col)" title="read more">
              <i class="fa fa-commenting"></i>
            </a>
          </span>
        </td>
        <td *ngIf="tools">
          <ul class="menu-table">
            <li *ngFor="let menu of objectKeys(tools)">
              <span *ngIf="menu != 'delete'">
                <a
                  class="btn btn-sm {{ tools[menu].class }}"
                  (click)="toPage(tools[menu].click, item[settings.primary])"
                  *ngxPermissionsOnly="[tools[menu].permission]"
                  href="javascript:;"
                >
                  <i class="{{ tools[menu].icon }}"></i> {{ tools[menu].label }}
                </a>
              </span>
              <span *ngIf="menu == 'delete'">
                <a
                  class="btn btn-sm {{ tools[menu].class }}"
                  (click)="removeData(item[settings.primary])"
                  *ngxPermissionsOnly="[tools[menu].permission]"
                  href="javascript:;"
                >
                  <i class="{{ tools[menu].icon }}"></i> {{ tools[menu].label }}
                </a>
              </span>
            </li>
          </ul>
          <!-- <span *ngIf="tools.update">
            <a class="btn btn-sm btn-info" *ngxPermissionsOnly="[tools.update.permission]" (click)="toForm(item[settings.primary])" title="Update">
              <i class="{{tools.update.icon}}"></i> {{tools.update.label}}</a>
          </span>&nbsp;
          <span *ngIf="tools.delete">
          <a class="btn btn-sm btn-danger" *ngxPermissionsOnly="[tools.delete.permission]" (click)="removeData(item[settings.primary])" title="Remove">
            <i class="{{tools.delete.icon}}"></i> {{tools.delete.label}}</a></span> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-read-desc"></h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p style="word-break: break-all; white-space: pre-wrap;" *ngIf="!stringIsParams">{{ fullDesc }}</p>
    <ngx-json-viewer [json]="fullDesc" [expanded]="false" *ngIf="stringIsParams"></ngx-json-viewer>
  </div>
</ng-template>
