
.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.notification {
  position: absolute;
  z-index: 999999;
  top: 5px;
  line-height: 20px;
  text-align: center;
  right: 5px;
  background: linear-gradient(-90deg, rgb(220, 53, 69), rgb(220, 53, 69));
  color: white;
  font-style: oblique;
  text-transform: capitalize;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  min-height: 20px;
  min-width: 160px;
  max-width: 300px;
  padding: 15px;
  cursor: pointer;
}


.form-control-md, .input-group-md > .form-control, .input-group-md > .input-group-prepend > .input-group-text, .input-group-md > .input-group-append > .input-group-text, .input-group-md > .input-group-prepend > .btn, .input-group-md > .input-group-append > .btn {
  padding: 7px;
  height: auto;
}

select.form-control-md:not([size]):not([multiple]), .input-group-md > select.form-control:not([size]):not([multiple]), .input-group-md > .input-group-prepend > select.input-group-text:not([size]):not([multiple]), .input-group-md > .input-group-append > select.input-group-text:not([size]):not([multiple]), .input-group-md > .input-group-prepend > select.btn:not([size]):not([multiple]), .input-group-md > .input-group-append > select.btn:not([size]):not([multiple]) {
    height: auto;
}
