<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div *ngFor="let col of objectKeys(columns)" class="form-group row">
    <label class="col-sm-2 col-form-label">{{columns[col].title}}</label>
    <div class="col-sm-10">

      <input *ngIf="columns[col].type=='string'" type="text" class="form-control" id="{{col}}" formControlName="{{col}}" [ngClass]="{ 'is-invalid': submitted && f[col].errors }">
      <input *ngIf="columns[col].type=='password'" type="password" class="form-control" id="{{col}}" formControlName="{{col}}" [ngClass]="{ 'is-invalid': submitted && f[col].errors }">
      <select *ngIf="columns[col].type=='select'" class="form-control" id="{{col}}" formControlName="{{col}}" [ngClass]="{ 'is-invalid': submitted && f[col].errors }">
        <option></option>
        <option *ngFor="let opt of columns[col].options" value="{{opt.val}}">{{opt.label}}</option>
      </select>
      <input
        *ngIf="columns[col].type == 'date'"
        readonly
        type="text"
        name="key"
        class="form-control"
        placeholder="Search"
        ngbDatepicker
        #d="ngbDatepicker"
        (focus)="d.open()"
        formControlName="{{col}}"
        [ngClass]="{ 'is-invalid': submitted && f[col].errors }"
      />
      <div *ngIf="columns[col].type == 'time'">
        <ngb-timepicker formControlName="{{col}}"></ngb-timepicker>
      </div>
      <small *ngIf="columns[col].textHelpEdit && source[settings.primary]" class="form-text text-muted">{{columns[col].textHelpEdit}}</small>
      <small *ngIf="columns[col].textHelpAdd && !source[settings.primary]" class="form-text text-muted">{{columns[col].textHelpAdd}}</small>
      <div *ngIf="submitted && f[col].errors" class="invalid-feedback">
        <div *ngIf="f[col].errors.required">{{columns[col].title}} is required</div>
      </div>
    </div>
  </div>
  <div class="form-group row form-actions right">
    <div class="offset-sm-2 col-sm-10">
      <input *ngFor="let col of objectKeys(columnHide)" type="hidden" class="form-control" id="{{col}}" formControlName="{{col}}">
      <button class="btn btn-primary">
        <span *ngIf="!source[settings.primary]">SAVE</span>
        <span *ngIf="source[settings.primary]">UPDATE</span>
      </button>
      <a class="btn btn-default" (click)="backClicked()">CANCEL</a>
    </div>
  </div>
</form>
