<!--<ng-http-loader></ng-http-loader>-->
<div *ngIf="notification && showNotification"
     (click)="showNotification = !showNotification"
     class="notification">
  <p>{{ notification }}</p>
</div>
<router-outlet></router-outlet>

