<div style="margin-top: 16px;">
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Permission Denied</h4>
    <p>Sorry you do not have permission for this action. to continue, please confirm to the administrator or click the back button below to return to the previous page. thank you.</p>
    <hr>
    <button class="btn btn-lg btn-danger" (click)="goBack()">Back</button>
  </div>
</div>
