<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
      <section class="flexbox-container">
        <router-outlet></router-outlet>
      </section>
    </div>
  </div>
</div>
