<div class="content-header row">
  <div class="content-header-left col-md-6 col-12 mb-2">
    <h3 class="content-header-title mb-0">User Group </h3>
    <div class="row breadcrumbs-top">
      <div class="breadcrumb-wrapper col-12">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active">Privilege
          </li>
        </ol>
      </div>
    </div>
  </div>
  <div class="content-header-right col-md-6 col-12">
    <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-accent " (click)="savePriv(this.changePriv)">
          <span>
            <i class="fa fa-floppy-o"></i>&nbsp; Save</span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-content collapse show">

        <div class="table-responsive">
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th width="10" class="td-check">&nbsp;</th>
                <th class="td-title">Menu</th>
                <th width="150" class="text-center">View</th>
                <th width="150" class="text-center">Create</th>
                <th width="150" class="text-center">Edit</th>
                <th width="150" class="text-center">Delete</th>
                <th width="150" class="text-center">Print</th>
                <th width="150" class="text-center">Excel</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tree of treemenu">
                <td class="td-check">
                  <!-- <label class="m-checkbox">
                    <input type="checkbox" value="1" [(ngModel)]="modulePriv[tree.id]" [checked]="tree.permission" (ngModelChange)="clickUpdate(tree)">
                    <span></span>
                  </label> -->
                  <label class="checkbox-c">
                    <input type="checkbox" value="1" [(ngModel)]="modulePriv[tree.id]" (ngModelChange)="clickUpdate(tree)">
                    <span class="checkmark"></span>
                  </label>
                </td>
                <td class="td-title">
                  <span class="menu-tree-level-{{tree.level}}">
                    {{tree.title}}</span>
                </td>
                <td colspan="7" *ngIf="!tree.path"></td>
                <td class="text-center" *ngIf="tree.path">
                  <label class="checkbox-c" *ngIf="tree.authAction.includes('bitView')">
                    <input type="checkbox" [(ngModel)]="changePriv.update[tree.id].bitView" [checked]="tree.bitView" value="1">
                    <span class="checkmark"></span>
                  </label>
                </td>
                <td class="text-center" *ngIf="tree.path">
                  <label class="checkbox-c" *ngIf="tree.authAction.includes('bitCreate')">
                    <input type="checkbox" [(ngModel)]="changePriv.update[tree.id].bitCreate" [checked]="tree.bitCreate" value="1">
                    <span class="checkmark"></span>
                  </label>
                </td>
                <td class="text-center" *ngIf="tree.path">
                  <label class="checkbox-c" *ngIf="tree.authAction.includes('bitEdit')">
                    <input type="checkbox" [(ngModel)]="changePriv.update[tree.id].bitEdit" [checked]="tree.bitEdit" value="1">
                    <span class="checkmark"></span>
                  </label>
                </td>
                <td class="text-center" *ngIf="tree.path">
                  <label class="checkbox-c" *ngIf="tree.authAction.includes('bitDelete')">
                    <input type="checkbox" [(ngModel)]="changePriv.update[tree.id].bitDelete" [checked]="tree.bitDelete" value="1">
                    <span class="checkmark"></span>
                  </label>
                </td>
                <td class="text-center" *ngIf="tree.path">
                  <label class="checkbox-c" *ngIf="tree.authAction.includes('bitPrint')">
                    <input type="checkbox" [(ngModel)]="changePriv.update[tree.id].bitPrint" [checked]="tree.bitPrint" value="1">
                    <span class="checkmark"></span>
                  </label>
                </td>
                <td class="text-center" *ngIf="tree.path">
                  <label class="checkbox-c" *ngIf="tree.authAction.includes('bitExcel')">
                    <input type="checkbox" [(ngModel)]="changePriv.update[tree.id].bitExcel" [checked]="tree.bitExcel" value="1">
                    <span class="checkmark"></span>
                  </label>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- {{this.changePriv.add|json}} <br/>
          {{this.changePriv.update|json}}
          <br/> {{this.changePriv.remove|json}} -->
        </div>
      </div>
    </div>
  </div>
</div>