.menu-tree-level-2 { padding-left: 20px; }
.menu-tree-level-3 { padding-left: 40px; }
.td-check { padding: 9px 10px; }
.td-title { padding-left: 5px; }
.btn-checkbox { margin: 0; padding: 2px; border-radius: 0; }
/* .btn-checkbox input { display: none; } */
.btn-checkbox span.fa { opacity: 0; font-size: 16px; }
.btn-checkbox.active span.fa { opacity: 1; }

/* The container */
.checkbox-c {
    /* display: block; */
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox-c input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 1px solid #00B5B8
  }
  
  /* On mouse-over, add a grey background color */
  .checkbox-c:hover input ~ .checkmark {
    background-color: #26C0C3;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkbox-c input:checked ~ .checkmark {
    background-color: #00B5B8;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox-c input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox-c .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }