<footer class="footer footer-static footer-light navbar-border">
  <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2"><span class="float-md-left d-block d-md-inline-block">Copyright
      © 2019 <a class="text-bold-800 grey darken-2" href="https://www.aksimaya.co.id"
        target="_blank">AKSIMAYA </a>, All rights reserved. </span><span class="float-md-right d-block d-md-inline-block d-none d-lg-block">Made with <i class="ft-heart pink"></i></span></p>
</footer>
