<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
      <h3 class="content-header-title mb-0">User </h3>
      <div class="row breadcrumbs-top">
        <div class="breadcrumb-wrapper col-12">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active">Management
            </li>
          </ol>
        </div>
      </div>
    </div>
    <div class="content-header-right col-md-6 col-12">
      <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
        <div class="btn-group" role="group">
          <a class="btn btn-md btn-outline-primary " routerLink="/user/form">Add</a>
          <a class="btn btn-md btn-outline-primary " *ngxPermissionsOnly="['canPrintClient']" (click)="print()">Print</a>
          <a class="btn btn-md btn-outline-primary " *ngxPermissionsOnly="['canDownloadExcelClient']" (click)="downloadExcel()">Excel</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-content collapse show">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <app-search [tableSvc]="tableSvc" [settings]="settings"></app-search>
              </div>
              <div class="col-md-6">
                <app-pagging [tableSvc]="tableSvc"></app-pagging>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <app-table [tableSvc]="tableSvc" [settings]="settings" (fncRemove)="deleteRow($event)"></app-table>
          </div>
        </div>
      </div>
    </div>
  </div>
