<app-sidebar></app-sidebar>
<app-navbar></app-navbar>
<div class="app-content content">
  <div class="content-wrapper">
      <router-outlet></router-outlet>
  </div>
</div>
<app-footer></app-footer>
