<!-- fixed-top-->
<nav id="stackNav" #stackNav class="header-navbar navbar-expand-md navbar navbar-with-menu fixed-top navbar-semi-dark navbar-shadow">
  <div class="navbar-wrapper">
    <div class="navbar-header">
      <ul class="nav navbar-nav flex-row">
        <li class="nav-item mobile-menu d-md-none mr-auto">
          <a class="nav-link nav-menu-main menu-toggle hidden-xs">
            <i class="ft-menu font-large-1"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand">
            <img alt="stack admin logo" src="assets/app/images/logo/aksimaya-logo.png" class="brand-logo" id="stackLogo" />
            <h2 class="brand-text">Aksimaya</h2>
          </a>
        </li>
        <li class="nav-item d-md-none">
          <a data-toggle="collapse" data-target="#navbar-mobile" class="nav-link open-navbar-container">
            <i class="fa fa-ellipsis-v"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="navbar-container content">
      <div id="navbar-mobile" class="collapse navbar-collapse">
        <ul class="nav navbar-nav mr-auto float-left">
          <li class="nav-item d-none d-md-block">
            <a href="javascript:;" class="nav-link nav-menu-main menu-toggle hidden-xs d-block" id="stackNavMenu"
              #stackNavMenu>
              <i class="ft-menu"></i>
            </a>
            <a routerLink="/changelog" class="nav-link nav-menu-main hidden-xs font-small-3 d-none" id="stackNavBack"
              #stackNavBack>
              <i class="ft-arrow-left"></i>Back
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav float-right">
          <li class="dropdown dropdown-user nav-item" ngbDropdown placement="bottom-right">
            <a href="javascript:;" class="dropdown-toggle nav-link dropdown-user-link" id="dropdownUser"
              ngbDropdownToggle>
              <span class="user-name">{{ user !== undefined ? user.user.username : 'Unknown' }}</span>
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownUser">
              <a class="dropdown-item" [routerLink]="['/auth/changepassword']">
                <i class="ft-user"></i> Change Password
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" [routerLink]="['/auth/logout']">
                <i class="ft-power"></i> Logout
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
