<div class="content-header row">
  <div class="content-header-left col-md-6 col-12 mb-2">
    <h3 class="content-header-title mb-0">Logs </h3>
    <div class="row breadcrumbs-top">
      <div class="breadcrumb-wrapper col-12">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active">
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered table-xs">
              <thead>
                <tr>
                  <th rowspan="2" class="align-middle col-1">No.</th>
                  <th rowspan="2" class="align-middle col-2">Name</th>
                  <th *ngFor="let dates of dates" class="bg-info bg-lighten-2">
                      {{dates | date:'E'}}
                  </th>
                </tr>
                <tr>
                    <th *ngFor="let dates of dates">
                        {{dates | date:'d'}}
                    </th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let emp of employees">
                     <td>{{emp.id}}</td>
                     <td>{{emp.name}}</td>
                     <th *ngFor="let dates of dates">
                        -
                      </th>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
