<table width="100%" class="mb-1">
  <tr>
    <td>
      <div class="float-right">
        <div class="form-inline">
          <div class="input-group input-group-md">
            <div class="input-group-prepend">
              <span class="input-group-text">Show rows</span>
            </div>
            <select class="form-control" [(ngModel)]="tableSvc.limit" (change)="tableSvc.setLimit(tableSvc.limit)"
              name="limit">
              <option *ngFor="let showRows of [5, 10, 25, 50, 10]" [ngValue]="showRows">
                {{ showRows }}
              </option>
            </select>
            <div class="input-group-append">
              <span class="input-group-text">
                  {{ tableSvc.starRow }} - {{ tableSvc.endRow }} of {{ tableSvc.numrows }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </td>
    <td width="100">
      <div class="float-right">
        <div class="form-inline">
          <div class="input-group input-group-md">
            <div class="input-group-prepend">
              <button class="btn btn-primary" type="button" (click)="tableSvc.setPage(tableSvc.page - 1)">
                <i class="fa fa-chevron-left"></i>
              </button>
            </div>
            <input readonly type="text" class="form-control" [(ngModel)]="tableSvc.page" />
            <div class="input-group-append">
              <button class="btn btn-primary" type="button" (click)="tableSvc.setPage(tableSvc.page + 1)">
                <i class="fa fa-chevron-right"></i>
              </button>
            </div>
            &nbsp;
          </div>
        </div>
      </div>
    </td>
  </tr>
</table>

<!-- <nav aria-label="Page navigation example">
  <ul class="pagination pagination-sm">
    <li class="page-item disabled">
      <div class="page-link">
        Show Rows:
      </div>
    </li>
    <li class="page-item">
      <select [(ngModel)]="metadata.limit" (change)="onchangelimit(metadata.limit)" style="padding: 5px 0px 6px 4px;border: 1px solid #dee2e6;text-align: center;font-size: 12px;border-left: none;">
        <option *ngFor="let n of [5, 10, 20]">{{n}}</option>
      </select>
    </li>
    <li class="page-item disabled">
      <div class="page-link">
        <small>{{metadata.startRow}} - {{metadata.endRow}} of {{metadata.numrows}}</small>
      </div>
    </li>
    <li class="page-item">
      <a class="page-link" aria-label="Previous" (click)="goToPage(metadata.page - 1)">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item disabled">
      <div class="page-link">{{metadata.page}}</div>
    </li>
    <li class="page-item">
      <a class="page-link" aria-label="Next" (click)="goToPage(metadata.page + 1)">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav> -->
